@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-clr: #002f86;
  --secondary-clr: rgb(2, 59, 165);
  --color3: #42c760;
  --color4: #00b3ff;
  --color5: #000000;
  --color6: #dfdddd79;
  --color7: #ffffffff;
  --paragraph-clr: #000000e6;
  --paragraph-clr2: rgba(255, 255, 255, 0.9);
  /* FonSize */
  --f1: 62px;
  --f2: 44px;
  --f3: 32px;
  --f4: 26px;
  --f5: 22px;
  --f6: 18px;
  --f7: 16px;
  --f8: 14px;
  /* FonWeight */
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
button {
  outline: none;
  border: none;
}
p {
  line-height: 30px;
  color: var(--paragraph-clr);
  font-weight: var(--fw-500);
}

/* Classes */

/* Colors */
.primary-clr {
  color: var(--primary-clr);
}
.secondary-clr {
  color: var(--secondary-clr);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}
.color6 {
  color: var(--color6);
}
.color7 {
  color: var(--color7);
}

/* Background */

.bg-primary-clr {
  background-color: var(--primary-clr);
}
.bg-secondary-clr {
  background-color: var(--secondary-clr);
}
.bg-color3 {
  background-color: var(--color3);
}
.bg-color4 {
  background-color: var(--color4);
}
.bg-color5 {
  background-color: var(--color5);
}
.bg-color6 {
  background-color: var(--color6);
}
.bg-color7 {
  background-color: var(--color7);
}

/* FonSize */

.f1 {
  font-size: var(--f1);
}
.f2 {
  font-size: var(--f2);
}
.f3 {
  font-size: var(--f3);
}
.f4 {
  font-size: var(--f4);
}
.f5 {
  font-size: var(--f5);
}
.f6 {
  font-size: var(--f6);
}
.f7 {
  font-size: var(--f7);
}
.f8 {
  font-size: var(--f8);
}

/* FontWeight */

.fw-200 {
  font-weight: var(--fw-200);
}
.fw-300 {
  font-weight: var(--fw-300);
}
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-500 {
  font-weight: var(--fw-500);
}
.fw-600 {
  font-weight: var(--fw-600);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-800 {
  font-weight: var(--fw-800);
}

/* Wrapper */

.Wrapper-nav {
  --max-width: 1340px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.Wrapper {
  --max-width: 1240px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* Section */

.p50-section {
  padding-block: 50px;
}
.p100-section {
  padding-block: 100px;
}

.b-full {
  border-radius: 50%;
  background-color: rgb(2, 59, 165, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 90px;
  color: var(--color7);
  font-size: var(--f2);
}
